<form action="/answer" method="get">
    <h1>Stupid Coaching</h1>
    <p>Ask your coach anything:</p>
      <div class="input-div">
        <input class="input-class" type="text" name="question">
        <input class= "btn" type="submit" value="Ask">
      </div>
</form>
